<noscript><meta http-equiv="refresh" content="1;URL='/'"></noscript>
<script>setTimeout(()=>{
if (window.location.href.includes("back")) { window.history.go(-1); return };
window.location = "/";
},1000);
</script>
<h1>Set Preference</h1>The pref <pre style="display: inline">{{.Name}}</pre> was set to <pre style="display: inline">{{.Value}}</pre>.
<p><a href="/">Home</a>