<h1>go/{{.Display}}</h1><a href="/{{.Display}}">go/{{.Display}}</a> redirects to <a href="{{.Destination}}">{{.Destination}}</a>.
<br><br><br>
<p><a href="/_/pref?k=no-redirect&v=0&back=1">Don't show this next time</a>
<br><br>
<p><a href="/">Home</a>
